:root {
    --md-circular-progress-size: 36px
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chart {
    flex: 1;
    width: 100%;
}

#start_date, #end_date {
    width: 130px;
    height: 40px;
}

#symbol {
    width: 180px;
}

.top-controls {
    display: flex;
    gap: 8px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

md-outlined-select {
    width: 100px;
    min-width: 30px;
}

md-outlined-select::part(menu) {
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: rgb(237, 216, 230) transparent;
}

md-outlined-text-field,
md-outlined-select {
    --md-outlined-field-top-space: 8px;
    --md-outlined-field-bottom-space: 8px;
}
