<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>FDemoKline</title>
    <!-- Material fonts and import map setup -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script type="importmap">
        {
          "imports": {
            "@material/web/": "https://esm.run/@material/web/"
          }
        }
    </script>

    <script type="module">
        import '@material/web/all.js';
        import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/klinecharts/dist/umd/klinecharts.min.js"></script>
</head>
<body>
<div class="container">
    <div class="top-controls">
        <div class="control-item">
            <md-outlined-text-field
                    id="symbol"
                    label="Symbol"
                    value="BTC/USDT">
            </md-outlined-text-field>
        </div>

        <div class="control-item">
            <md-filled-tonal-icon-button id="searchSymbol">
                <md-icon>search</md-icon>
            </md-filled-tonal-icon-button>
        </div>

        <div class="control-item">
            <md-outlined-select id="timeframe" label="Timeframe">
                <md-select-option value="1d" selected>
                    <div slot="headline">1d</div>
                </md-select-option>
            </md-outlined-select>
        </div>

        <div class="control-item">
            <md-outlined-text-field
                    id="start_date"
                    label="Start Date"
                    type="date"
                    value="2025-06-08">
            </md-outlined-text-field>
        </div>

        <div class="control-item">
            <md-outlined-text-field
                    id="end_date"
                    label="End Date"
                    type="date"
                    value="2025-06-08">
            </md-outlined-text-field>
        </div>

        <div class="control-item">
            <md-filled-tonal-button id="loadButton">
                <md-icon slot="icon">refresh</md-icon>
                Load
            </md-filled-tonal-button>
        </div>
    </div>

    <div id="chart"></div>
</div>

<script src="{{ url_for('static', filename='js/indicators.js') }}"></script>
<script src="{{ url_for('static', filename='js/paramHandlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartInit.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>
